:root{
  --color-white: white;
  --color-red: #f24;
}
html,body{
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: monospace;
  font-size: 14px;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
}
main:fullscreen{
  padding: 0;
}
main:fullscreen .dots{
  margin: 0;
  width: min(85vh, 95vw);
  height: min(85vh, 95vw);
}
main:fullscreen form{
  display: none;
}

.dots{
  margin: 0 auto;
  width: min(60vh, 80vw);
  height: min(60vh, 80vw);
}
.dots-row{
  display: flex;
  flex-direction: row;
  height: 6.25000%;
}
.dot{
  width: 6.25000%;
  border-radius: 50%;
  margin: 1px;
}

form{
  margin-top: 10vh;
}

label[for="input"] {
  display: block;
  color: red;
}
label[for="input"]:nth-child(3){
  color: white;
}

#input{
  border: none;
  background: transparent;
  color: inherit;
  width: 100%;
  margin-left: 2em;
  font: inherit;
  font-family: inherit;
}
#input:focus{
  outline: none;
}

.examples > a[href]{
  color: white
}

